html {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    margin: 0 20px;
}

.header {
     margin-left: 20px;
     font-weight: 300;
}

.contact {
    width: 40%;
    float: left;
    margin-top: 10px;
}

.contact h3 {
    margin-left: 40px;
}

.info-list li {
    font-size: 14px;
    opacity: 0.5;
    list-style-type: none;
    margin-top: 18px;
}

.info-list i {
    margin-right: 8px;
}

.appoinment {
    width: 60%;
    float: left;
}

.appoinment-form {
    width: 50%;
    margin-top: 10px;
    padding: 4px 12px;
    opacity: 0.5;
}


.btn {
    margin-top: 4px;
}

.btn-submit {
    background-color: #897fff;
    border: none;
    color:#fff;
    padding: 8px 8px;
}

