:root {
    --text-color:#333;
    --primary-color:red;
    --icon-color :#e5ab82;
    --font-family: "roboto",sans-serif ;
    --border-color: #dbdbdb;
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 400;
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}