* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #475160;
}

@font-face {
    font-family: manrope;
    src: url(../fonts/Manrope-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: manrope;
    src: url(../fonts/Manrope-Light.ttf);
    font-weight: 400;
}

@font-face {
    font-family: manrope;
    src: url(../fonts/Manrope-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: manrope;
    src: url(../fonts/Manrope-Regular.ttf);
    font-weight: 400;
}

.mt20 {
    margin-top: 20px;
}

.container {
    max-width: 100%;
    background-color: #ddd;
    /* background-image: url(https://picsum.photos/1000/600); */
    height: 600px;
}

.content {
    padding: 0 30px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-heading {
    flex-grow: 3;
    font-family: "manrope",sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.nav-list {
    flex-grow: 3;
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    /* padding: 8px 16px; */
}

.opacity {
    opacity: 0.6;
}

.nav-item::after {
    content: "\f0d7";
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: relative;
    left: 4px;
    top: 0;
}

.icon-heading {
    display: flex;
}

.search {
    margin-left: 20px;
}



.document {
    color: #475160;
    flex-shrink: 0;
    font-family: "manrope",sans-serif;
    font-weight: 700;
    font-size: 14px;
    background-color: #fff;
    height: 500px;
    margin-top: 20px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgba(255, 255, 255, 0.1);
}

.row {
    display: flex;
    height: 100%;
}

.row-50 {
    height: calc(100%/2 - 40px);
}

.col-30 {
    width: 30%;
    border-right: solid 1px #d6d6d6;
}

.usage-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-top: 30px;
}

.usage-item {
    flex-basis: calc(100%/2);
}

.col-70 {
    width: 70%;
    /* display: flex; */ 
}

.element p{
    padding-left: 30px;
}

.styleguide-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-top: 30px;
}

.styleguide-item {
    flex-basis: calc(100%/2);

}

.element-list {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 0 30px;
}

.element-item {
    flex-basis: calc(100%/3);
}

.nav-document:hover .document{
    display: block;
}

