.switch-btn {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    label {
        width: 180px;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $whiteColor;  
        font-size: 1rem;
        font-family:"titilliumWep",sans-serif ;
        font-weight: 700;
        color: $whiteColor;
      
    }

    .login-btn {
        border-radius: 12px 0 0 12px;
    }

    .register-btn {
        border-radius: 0px 12px 12px 0px;

    }
}


#login:checked ~ .header-inner .header  .login-btn {
    background-color: #fff;
    color: #333;
}

#register:checked ~ .header-inner .header  .register-btn {
    background-color: #fff;
    color: #333;
}

#login:checked ~ .col-12 .container .register-content {
    display: block;
    z-index: 1;
    opacity: 1;
}

// #login:checked ~ .col-12 .form .form-input:focus + .active-email{
//     top:10px;
//     display:block;
//     padding: 0 10px;
//     background-color: $whiteColor;
//     font-size: 0.8rem;
//     color:  #6610f2;
// }


#register:checked ~ .col-12 .container .login-content{
    display: block;
    z-index: 1;
    opacity: 1;
}
   




