
    .main {
        background-image: url(https://hoanganf8.github.io/htmlcss_project02/image/landing-background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 80px;
        padding-bottom: 100px;
        position: relative;
        max-height: 1200px;
        width: 100%;        
    }





