* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login {
    margin:30px auto;
    width: 50%;
    display: flex;
    height: 80vh;
    box-shadow:  #0000003d 0 3px 8px;
    flex-direction: column;
    text-align: center;
   
}

.login .form-login {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.login .form-login input {
    height: 40px;
    padding: 8px 4px;

}

.login .form-login button {
    margin-top: 10px;
    height: 30px;
    width: 100%;
    border: none;
    border: 1px solid #ccc;
}

