.navigation {
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 64px;
  // color: red;
  background-color: rgba(51, 51, 51, 0.75);
  a {
    text-decoration: none;
    color: #fff;
  }

  .logo {
    a {
      line-height: 64px;
      span {
        color: #ffa500;
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: #fff;
    // justify-content: center;
    list-style-type: none;
  }
}
