* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.mt-10 {
    margin-top: 10px;
}

.content {
    width: 500px;
    margin: 30px auto;
    text-align: center;
}

.header p {
    margin-top: 30px;
}

.row {
    display: flex;
    column-gap: 15px;
}

.col-50 {
    width: 50%;
    margin-top: 40px;
}

.col-50 .form-info {
    width: 100%;
    position: relative;

}

.form-info input {
    width: 100%;
    padding: 12px 4px;}

.form-info select {
    width: 100%;
    padding: 12px 4px;
}

.message {
    display: flex;
    position: relative;

}

.message label {
    position: absolute;
    left: 6px;
    top: 5px;
    transition: all .4s ease;
    pointer-events: none;

}

.message textarea {
    width: 100%;
    padding: 12px 4px;
    border-radius: 10px;
}

.form-item {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-info label {
    position: absolute;
    top: 6px;
    left: 12px;
    font-size: 16px;
    transition: top .4s ease;
    transition: font-size .4s ease;

    pointer-events: none;
}

input:focus {
    outline:2px solid  #a409f7;
    border: none;
}

input:focus + label
 {
     top: 0px;
    font-size: 10px;
}

input:valid + label {
    top: 0;
    font-size: 10px;

}


.form-message:focus + label,
.form-message:valid + label {
    
    font-size: 10px;
    top: -0px;
}

/* input:valid {
    background-color: ivory;
    border: none;
    outline: 2px solid deepskyblue;
    border-radius: 5px;
    accent-color: gold;
} */


.form-message:focus {
    outline:2px solid  #a409f7;
    border: none;
}

.btn {
    margin: 0 auto;
    font-size: 14px;
    margin-top: 15px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: #a409f7;
    color: #fff;
    border-radius: 99px;
    cursor: pointer;
}

