@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Light.ttf);
    font-weight: 300;

}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Medium.ttf);
    font-weight: 500;

}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: 400;

}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
}

body {
    font-family: "poppins",sans-serif;  
}


header {
    margin-top: 30px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin: 0 26px;
}

.header-img {
    flex-basis: 30%;
    cursor: pointer;
    display: flex;
}

.header-img img {
    max-width: 100%;
}

.header-nav {
    flex-basis: 30%;
}

.header-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.header-nav ul li {
    flex-basis: calc(100% / 4);
    list-style-type: none;
}

.header-nav ul li > a {
    text-decoration: none;
    color: #4D4D4D;
    font-size: 14px;
}

.header-nav ul li:hover > a {
    color: #F55253;
    cursor: pointer;
}

.header-search {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.header-search input {
    border: none;
    position: relative;
}

.header-search input::placeholder {
    color: #4D4D4D;
}

.header-search::before {
    content:"\f002";
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    top: 0px;
    left: 150px;
    font-size: 16px;
    color: rgb(139, 139, 139);
}

.header-cart {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    font-size: 24px;
}


.header-cart::after {
    content: "2";
    width: 28px;
    height: 28px;
    display: flex;
    border-radius: 50%;
    background-color: #F55253;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    position: relative;
    top:-30px;
    left: -5px;
}

.header-subnav {
    padding: 80px 0;
}
    

.header-sub-img img {
  width: 100%;
}

.heading-subnav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 48px;
    border-radius: 99px;
    background-color: #EEDCDC;
    color:#F55556;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
  
}

.header-subnav h1 {
    margin-top: 20px;
    font-size: 48px;
    color: #2e2e2e;
    font-weight:700;
    font-family: "poppins",sans-serif;
    line-height: 58px;
}

.header-subnav .header-title {
    color: #F54748;
    font-weight: 500;
}

.header-subnav p {
    letter-spacing: 0.005em;
    max-width: 80%;
    margin-top: 22px;
    font-size: 18px;
    color: #676767;
    font-weight: 500;
    line-height: 30px;
    font-family: "poppins",sans-serif;
}

.header-btn {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header-btn .btn {
    width: 190px;
    height: 70px;
    background-color: #f86061;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins",sans-serif;
    font-weight:500;
    font-size: 16px;
    transition: all .2s ease;

}

.header-btn .btn:hover {
    background-color: #fff;
    border: 1px solid #F54748;
}

.header-btn .btn:hover a {
    color: #F54748;

}

.header-btn .btn a {
    text-decoration: none;
    color: #fff;
    font-family: "poppins",sans-serif;
    font-weight:500;
    font-size: 16px;
}

.header-btn .play-ic {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:500;
    color: #2e2e2e;
}

.play-ic img {
    width: 100%;
}

.header-img {
    display: flex;
    justify-content: start;
    align-items:center;
}

.header-img img {  
    display: block;
}

.order {
    padding: 100px 0;
    background-color: #FEF5F5   ;
}

.order-title {
    color: #F54748;
    font-size: 16px;
    display: block;
    text-align: center;
    font-weight: 500;
}

.order .order-heading {
    margin-top: 8px;
    font-size: 21px;
    font-weight: 400;
    font-family:"poppins",sans-serif ;
}

.order-content {
    margin-top: 60px;
    margin: 0 93px;
}



.order-item {
   width: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 26px ;
    border-radius: 12px;
    z-index: 0;
}



.order-img {
    height: 60px ;
}

.order-img img {
    height: 100% ;
}

.order-item-heading {
    margin-top: 60px;
    font-size: 18px;
    line-height: 33px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.order-item-text {
    font-size: 14px;
    line-height: 25px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}

.service {
    /* padding: 50px 0; */
}

.product {
    padding: 50px 0;
}

.product-img img {
    max-width: 100% ;
}

.product-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-product {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.product-title {
    font-size: 16px;
    line-height: 24px;
    color: #03A66B;
    letter-spacing: 0.01em;
}

.product-title-yello {
    color: var(--color-yellow);
}

.heading-product {
    margin-top: 8px;
    font-size: 32px;
    font-weight: 700;
    max-width: 90%;
    line-height: 44px;
}

.text-product {
    margin-top: 22px;
    color: #676767;
    font-size: 16px;
    max-width: 100%;
    line-height: 30px;
}

.btn-more {
    width: 200px;
    background-color: #f86061;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    line-height: 20px;
    line-height: 16px;
    padding: 18px 20px;
    margin: 50px 0 20px 0;
    transition: all .2s ease;
}

.btn-more:hover  {
    background-color: #fff;
    border: 1px solid #F54748;
}

.btn-more:hover a {
    color: #F54748;
}

.btn-more a {
    text-decoration: none;
    color: #FFFAFA;
}

.dow-app {
    padding: 100px 0;
    background-color: #FEF5F5;
}

.dow-app .app-img {
    margin: 0 89px;
    display: flex;
    justify-content: center;
}

.dow-app .app-img img {
   max-width: 100%;
}

.app-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.app-content .app-title {
    font-size: 16px;
    line-height: 24px;
    color: #F54748;
    
}

.app-content .app-heading {
    margin-top: 8px;
    font-size: 32px;
    line-height: 44px;
    max-width: 90%;
    text-transform: capitalize;
    font-weight: 700;
}

.app-content .app-text {
    margin-top: 22px;
    color: #676767;
    font-size: 16px;
    max-width: 90%;
    line-height: 30px;

}

.app-content .app {
    margin: 20px 15px;
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
}

.app-store,
.app-chplay {
    width:200px ;
    display: flex;
    align-items: center;
    border: 1px solid #EEDCDC;
    border-radius: 12px;
    text-decoration: none;
    color: #2e2e2e;
    padding: 10px 0px;
    justify-content: space-around;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

.contact {
    padding: 50px 0 0 0;
}

.transport {
    display: flex;
    flex-direction: column;
   height: 100%;
    
}

.transport span {
    display: block;
}

.transport-img {
    display: block;
}

.transport-about  {
    margin-top: 14px;
    color: #676767;
    font-size: 14px;
}

.company {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

}
.company a {
    text-decoration: none;
    color: #676767;
    font-size: 14px;
    padding: 8px 0;
}

.Services {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.Services a {
    text-decoration: none;
    color: #676767;
    font-size: 14px;
    padding: 8px 0;
}

.get p {
    margin-top: 30px;
    color: #676767;
    font-size: 14px;
}

@media screen and (min-width:576px) {
    .header-nav {
        display: flex;
        order: 1;
    }

    .header-search {
        display: flex;
        order: 2;
    }

    .header-search::before {
        content:"\f002";
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        position: absolute;
        top: 5px;
        left: -30px;
        font-size: 16px;
        color: rgb(139, 139, 139);
    }

    .header-cart {
        display: flex;
        order: 2;
    }

    .header-nav-xl,
    .header-search-xl,
    .header-cart-xl {
        display: none;
    }

    .navbar-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .header-nav {
        width: 100% ;
    }
    
    .header-nav ul {
        order: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header-nav ul li {
        text-align: center;
        padding: 10px;
        border: none;
    }

    .header-nav ul li a {
        text-align: center;
    }


    .Purchase {
        margin-top: 8px;
        order: 2;
        display: flex;
    }
    
    .toggler-icon {
        font-size: 30px;
        border: 1px solid rgba(0,0,0,.1);
        padding: 0px 10px;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    .transport {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .company-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .company {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Services-item {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .Services {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .get {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    input:checked ~ .container .navbar-content {
        display: flex;
        transition: all .8s ease;
    }
}


@media screen and (min-width: 768px) {
    .header-nav {
        display: block;
        order: 1;
    }

    .Purchase {
        align-items: center;
        justify-content: center;
    }

    .header-search {
        display: block;
        order: 2;
    }

    .header-search::before {
        content:"\f002";
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        position: absolute;
        top: 5px;
        left: -30px;
        font-size: 16px;
        color: rgb(139, 139, 139);
    }

    .header-cart {
        display: flex;
        justify-content: center;
        order: 3;
    }

    .header-cart::after {
        content: "2";
        width: 28px;
        height: 28px;
        display: flex;
        border-radius: 50%;
        background-color: #F55253;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        justify-content: center;
        align-items: center;
        position: relative;
        top:-30px;
        left: 0px;
    }

    .toggler-icon {
        font-size: 30px;
        border: 1px solid rgba(0,0,0,.1);
        padding: 0px 10px;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    .app {
        justify-content: space-between;
        flex-direction: row;
        max-width: 100%;
    }

    .order-content {
        margin: 0;
    }

    .app-content .app    {
        margin: 20px 0;
        max-width: 70%;
        display: flex;
        justify-content: space-between;
    }

}

@media screen and (min-width: 992px) {
    .navbar {
        flex-direction: row;
    }

    .navbar-content {
        display: none;
    }

    .header-nav {
        display: block;
    }

    .header-nav ul {
        flex-direction: row;

    }

    .header-search {
        display: block;
    }

    .header-cart {
        display: block;
    }

    .toggler-icon {
        display: none;
    }

    .header-search {
        position: relative;
        display: flex;
        justify-content: flex-end;}

        .header-search::before {
            content: "\f002";
            font-family: 'Font Awesome 6 Free';
            font-weight: 900;
            position: absolute;
            top: 0px;
            left: 83px;
            font-size: 16px;
            color: rgb(139, 139, 139);
        }
        
        .header-cart {
            display: flex;
        } 
}

@media screen and (min-width: 992px) {
    .header-nav-xl,
    .header-search-xl,
    .header-search,
    .fa-basket-shopping:before  {
        display: block;
    }
    .header-search::before {
        content: "\f002";
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        position: absolute;
        top: 0px;
        left: 155px;
        font-size: 16px;
        color: rgb(139, 139, 139);
    }

    .header-nav-xl ul {
        display: flex;
        
    }

    .header-nav-xl ul li {
        display: flex;
        flex-basis: 40%;
        list-style-type: none;
    }

    .header-nav-xl ul li a {
        text-decoration: none;
        font-size: 14px;
        line-height: 16px;
        color: #4D4D4D;
        padding: 8px;
    }

    .header-search-xl {
        position: relative;
    }

    .header-search-xl input {
        border: none;
    }

    .header-search-xl input::placeholder {
        color: #000;
        border: none;
    }

    .header-search-xl::before {
        content: "\f002";
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        position: absolute;
        top: 5px;
        left: -30px;
        font-size: 16px;
        color: rgb(139, 139, 139);
    }

    .header-cart-xl {
        font-size: 16px;
        display: flex;
        position: relative;
    }

    .header-cart-xl::after {
        content: "2";
        width: 28px;
        height: 28px;
        display: flex;
        border-radius: 50%;
        background-color: #F55253;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        justify-content: center;
        align-items: center;
        position: relative;
        top:-30px;
        left: 0px;
    }
}



    










